<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Server App</title>
    <link rel="stylesheet" href="/318nodeInstall/SBA/public/styles.css">
</head>
<body>
    Welcome to Candy Land!!!
    <h4>What days do you like to eat candy?</h4>
    <form action="/result" method="POST">
        <input type="text" name="day">
        <button>Go</button>
    </form>
</body>
</html>