<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Server App</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    Welcome to Candy Land!!!
    <h4>What days do you like to eat candy?</h4>
    <form action="/result" method="POST">
        <input type="text" name="day">
        <button>Go</button>
    </form>

    <% if (isShopping) { %>
        <p>It is a great day to buy candy!</p>
    <% } else { %>
        <p>Okay, just browsing!</p>
    <% } %>

    <% choices.forEach(choice => { %>
       <li><%= choice.name %> (<%= choice.types %>)</li>
    <% }) %>

    <style>
        body {
            background-image: url('/318nodeInstall/SBA/images/pexels-monstera-production-5874693.jpg');
        }
    </style>

</body>
</html>